<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(errorMessage) { %>
                    <div class="user__message user-message--error">
                        <%= errorMessage %>
                    </div>
                <% } %>
                        <form class="login-form" action="/new-password" method="POST">
                            <div class="form-control">
                                <label for="password">Password</label>
                                <input 
                                class="<%= validationErrors.find(e => e.param === 'newPassword') ? 'invalid' : '' %>"
                                type="password" name="newPassword" id="password" placeholder="password" >
                            </div>
                            <div class="form-control">
                                <label for="password">Confirm Password</label>
                                <input 
                                class="<%= validationErrors.find(e => e.param === 'confirmNewPassword') ? 'invalid' : '' %>"
                                type="password" name="confirmNewPassword" id="password" placeholder="Confirm Password" >
                            </div>

                            <div class="auth-btn">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
                                <input type="hidden" name="userId" value="<%= userId %>"></input>
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>"></input>
                                <button class="btn" type="submit">Reset Password</button>
                            </div>
                        </form>
            </main>

            <%- include('../includes/end.ejs') %>